h1 {
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
}

p {
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
}

ul {
  font-family: sans-serif;
  font-style: bold;
  line-height: 1.5;
  font-size: 18px;
  text-transform: uppercase;
}
